*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 200vh;
    font-family:'koulen';
}
.Menu{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.Menu ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.Menu ul li a{
    display: block;
    font-size: 22px;
    color: white;
    text-decoration: none;
    padding: 15px;
    position: relative;
}
.Menu ul li a:hover{
    text-decoration: underline;
}
.Menu ul .search{

    width: 500px;
    display: flex;
    color: white;
    overflow: hidden;
    border-radius: 8px;
}
.Menu ul .search input{
    width: 90%;
    outline: none;
    background: none;
    border: none;
    background-color: white;
    padding: 5px;
}
.btn_search{
    width: 10%;
    background-color:rgb(37, 156, 87);
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.count {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    /* background-color: red; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.item-box{
    padding: 2px;
}
.item-box .box{
    width: 100%;
    height: 400px;
    box-shadow: 1px 1px 5px 0px black;
}
.box .box-img{
    width: 100%;
    height: 60%;
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .box-title{
    width: 100%;
    height: 40%;
}
.box .box-title h1{
    text-align: center;
    font-size: 22px;
}
.box .box-title p{
    text-align: center;

}
.box .box-title button{
    margin-left: 100px;
}
.table-box{
    display: none;
    width: 300px;
    height: 300px;
    /* background-color:blue; */
    position: absolute;
    right:-70px;
    top: 0;
}
.xmark{
    position: absolute;
    right:5px;
    top: 4px;
    color: white;
}
.foot ul{
    list-style-type:none;
}
.foot ul li p , span{
    color: rgba(255, 255, 255, 0.725);
}
.foot a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.foot ul li nav{
    font-size: 22px;
    /* float: left; */
    color: rgba(255, 255, 255, 0.863);
}
/* Extra larg */
@media(min-width:1200px){


}
 /* Large devices (desktops, 992px and up) */
@media(min-width:992px) and (max-width:1199.98px){

}
/* Medium device */
@media(min-width: 768px) and (max-width:991.98px){
    .Menu ul .search{
        display: none;
    }
    .add_pro{
        position: relative;
        left: 20px;
    }
}
/*small device*/
@media(min-width:576px) and (max-width:767.98px){
    .Menu ul .search{
        display: none;
    }
    .add_pro{
        position: relative;
        right: 22px;
    }
}

/*Extra small device  */
@media(max-width:575px){
    .Menu ul .search{
        display: none;
    }
    .add_pro{
        position: relative;
        left: 80px;
    }
    .Menu .nav{
        display: none;
    }

}



